.link-active{
    color: red;
}

.link-mobile a {
    text-decoration: none;
    color: black;
}

.breadcrumb-item a{
    color: black;
    text-decoration: none;
}

.breadcrumb-item .active {
    color: grey;
}

.filter-group:checked {
    transform: rotate(180deg)
}