* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: 'Ogg';
  src: url("../fonts/Ogg-Regular.woff") format(".woff"),
    url("../fonts/Ogg-Regular.ttf") format("opentype")
}

@font-face {
  font-family: 'Trade Gothic';
  src: url("../fonts/Trade-Gothic-LT-Extended.woff") format(".woff"),
    url("../fonts/Ogg-Regular.ttf") format("opentype")
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.header {
  display: flex;
  align-items: baseline;
  gap: 109px;
}

.header h1 {
  font-family: 'Ogg';
  font-size: 60px;
  line-height: 64px;
  color: #000000;
}

.section-1-text {
  padding-top: 100px;
  padding-left: 100px;
  font-family: 'Trade Gothic';
  font-size: 16px;
  line-height: 28px;
  color: #71870E;
  opacity: 0.85;
}